# IDE
.vs
.vs/
Desktop/**/bin
.pio
.vscode/
Desktop/**/obj

Desktop/**/packages
# Build
Embedded/MaxMix/build
bin/
BuildSystem/build
obj/
BuildSystem/release
packages/

# Advanced Installer
Desktop/Installer/*-cache/
Desktop/Installer/Setup Files/
Desktop/Installer/Builds/
Desktop/Installer/*.back.aip

# Excludes
!Desktop/Resources/bin/

# Build System
BuildSystem/build
BuildSystem/release
