# IDE
.vs/
.vscode/

# Build
bin/
obj/
packages/

# Advanced Installer
Desktop/Installer/*-cache/
Desktop/Installer/Setup Files/
Desktop/Installer/Builds/
Desktop/Installer/*.back.aip

# Excludes
!Desktop/Resources/bin/