<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MaxMix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MaxMix.Properties.Settings>
            <setting name="DisplayNewSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepWhenInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepAfterSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ContinuousScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SystemSounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccelerationPercentage" serializeAs="String">
                <value>60</value>
            </setting>
          <setting name="DoubleTapTime" serializeAs="String">
            <value>150</value>
          </setting>
        </MaxMix.Properties.Settings>
    </userSettings>
</configuration>
