<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MaxMix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MaxMix.Properties.Settings>
            <setting name="DisplayNewSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepWhenInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SleepAfterSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LoopAroundItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccelerationPercentage" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DoubleTapTime" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="VolumeMinColor" serializeAs="String">
                <value>4294901760</value>
            </setting>
            <setting name="VolumeMaxColor" serializeAs="String">
                <value>4278190335</value>
            </setting>
            <setting name="MixChannelAColor" serializeAs="String">
                <value>4294901760</value>
            </setting>
            <setting name="MixChanneBColor" serializeAs="String">
                <value>4294902015</value>
            </setting>
        </MaxMix.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
