<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logconsole" xsi:type="Console" />
    <target name="logfile" xsi:type="File" fileName="info.log" />
  </targets>

  <rules>
    <logger name="MaxMix.Services.Communication.*" minlevel="Trace" writeTo="logconsole" />
    <logger name="MaxMix.Services.Audio.*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
