name: 'release'

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
  
    - name: Get tag version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      shell: bash

    # - name: Update AUTHORS
    #   run: |
    #     git config --local user.email "action@github.com"
    #     git config --local user.name "GitHub Action"
        
    #     git shortlog -se -n --all --no-merges > AUTHORS
        
    #     git add AUTHORS
    #     git commit -m "Updating authors"
    #     git push origin HEAD:${{ steps.get_branch.outputs.BRANCH }}
    #     exit 0
    #   shell: bash

    - name: Setup NuGet.exe
      uses: NuGet/setup-nuget@v1.0.2
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1
    - name: Setup MSBuild ExtensionPack
      run: choco install msbuild.extensionpack --version=4.0.15.0 -y    
      
    - name: Restore Application packages
      run: nuget restore Desktop\Application\MaxMix.sln
    - name: Build Application
      run: msbuild Desktop\Build.msbuild -p:SolutionDir=Application -p:Version=${{ steps.get_version.outputs.VERSION }}.0 -p:Configuration=Debug -p:Platform="Any CPU"

    - name: Restore DriverInstaller packages
      run: nuget restore Desktop\DriverInstaller\DriverInstaller.sln
    - name: Build DriverInstaller
      run: msbuild Desktop\Build.msbuild -p:SolutionDir=DriverInstaller -p:Version=${{ steps.get_version.outputs.VERSION }}.0 -p:Configuration=Debug -p:Platform="Any CPU"

    - name: Restore FirmwareInstaller packages
      run: nuget restore Desktop\FirmwareInstaller\FirmwareInstaller.sln
    - name: Build FirmwareInstaller
      run: msbuild Desktop\Build.msbuild -p:SolutionDir=FirmwareInstaller -p:Version=${{ steps.get_version.outputs.VERSION }}.0 -p:Configuration=Debug -p:Platform="Any CPU"

    - name: Setup Advanced Installer
      run: choco install advanced-installer --version=17.1.2 -y
    - name: Add Advanced Installer to path
      run: echo ::add-path::"C:/Program Files (x86)/Caphyon/Advanced Installer 17.1.2/bin/x86"
    - name: Register Advanced Installer
      run: AdvancedInstaller.com /register ${{secrets.ADVANCEDINSTALLER_LICENSE}}
    
    - name: Set Installer version
      run: AdvancedInstaller.com /edit Desktop\Installer\Maxmix.aip /SetVersion ${{ steps.get_version.outputs.VERSION }}
    
    - name: Build Installer
      run: AdvancedInstaller.com /build Desktop\Installer\Maxmix.aip
   
    - name: Create Release
      id: create-release
      uses: actions/create-release@v1.1.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_version.outputs.VERSION }}
        release_name: ${{ steps.get_version.outputs.VERSION }}
        body: ''
        draft: false
        prerelease: true

    - name: Upload Release Assets
      id: upload-release-assets 
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: Desktop\Installer\Builds\Maxmix.msi
        asset_name: Maxmix.${{ steps.get_version.outputs.VERSION }}.msi
        asset_content_type: application/zip

    
